html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

button {
    background: #252525;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

header {
    position: sticky;
    display: flex;
    top: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    justify-content: space-between;
}

#main-container {
    display: flex;
    height: 100vh;
    flex-grow: 1;
}

#queue-container {
    flex: 1;
    background-color: #ff0000; /* Example background color */
}

#songs-container {
    flex: 3;
    background-color: #1900ff; /* Example background color */
}

.queue-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

.queue-item .item-info {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    align-items: center;
    flex-grow: 1;
}

.queue-item .duration {
    font-size: 12px;
    color: #777;
    margin-left: 10px;
}

.queue-item > button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 4px 8px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.queue-item button:hover {
    background-color: #0056b3;
}

footer {
    position: fixed;
    display: flex;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    justify-content: space-between;
}

footer > div {
    padding: 10px;
}

#current-song {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #252525;
}

#song-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
}

#playback-button-container {
    display: flex;
}

#playback-button-container > button {
    margin: 10px;
}